<div class="modal-header">
  <h4 class="modal-title" id="modal-title">اختيار موصل الطلب</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <span style="color: red">
    {{ stateController.errorInnerSearch }}
  </span>
  <div *ngIf="result" style="direction: rtl">
    {{ result.name }}
    <button class="btn btn-primary" (click)="choose(result)">اختيار</button>
  </div>
  <div class="search" style="display: flex">
    <input
      type="text"
      class="form-control"
      placeholder="Search Here .."
      [(ngModel)]="searchText"
    />
    <button
      type="submit"
      class="btn btn-primary"
      (click)="search()"
      *ngIf="stateController.isLoadingInnerSearch === false"
    >
      بحث
    </button>
    <button
      class="btn btn-primary"
      type="button"
      disabled
      *ngIf="stateController.isLoadingInnerSearch == true"
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
    </button>
  </div>
  <button (click)="read()" class="btn btn-primary">عرض الكل</button>
  <ng-template
    *ngIf="deliveryMen"
    ngFor
    let-item
    [ngForOf]="deliveryMen"
    let-c="index"
  >
    <div
      style="
        display: flex;
        justify-content: space-between;
        direction: rtl;
        border: 1px solid;
        padding: 5px;
        margin: 5px;
        border-radius: 10px;
      "
    >
      <span>{{ item.name }}</span>
      <span>{{ item.phone }}</span>
      <span>{{ item.ordersDelivery.length }}</span>
      <button class="btn btn-primary" (click)="choose(item)">اختيار</button>
    </div>
  </ng-template>
</div>
