<div class="modal-header">
  <h4 class="modal-title" id="modal-title">تسلسل الطلب {{ data.id }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <button (click)="read()" class="btn btn-outline-primary">عرض</button>
  <table *ngIf="result" class="table" style="direction: rtl">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">الحالة</th>
        <th scope="col">التاريخ</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of result; let c = index">
        <td>{{ c + 1 }}</td>
        <td>{{ item.situation }}</td>
        <td>{{ item.createdAt }}</td>
      </tr>
    </tbody>
  </table>
</div>
