<div>
  <div *ngIf="!user" style="text-align: center">
    <button (click)="openModalSearchUser()" class="btn btn-primary">
      اختيار عميل
    </button>
  </div>
  <div *ngIf="user" style="direction: rtl">
    <div
      class="user"
      style="
        border: 1px solid;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        align-items: center;
      "
    >
      <span (click)="openModalSearchUser()">
        العميل
        <span>
          {{ user.name }}
        </span> </span
      ><button class="btn btn-primary" (click)="openModalUpdateUserName()">
        تحديث الاسم
      </button>
      <button class="btn btn-primary" (click)="openModalUpdateUserPassword()">
        تحديث الباسوورد
      </button>
    </div>

    <div style="margin: 10px; display: flex; justify-content: space-between">
      <button (click)="openModalReadOrders()" class="btn btn-primary">
        عرض الطلبات السابقة
      </button>
      <!-- Order with Delivery Toggle -->
      <div class="form-check form-switch mb-2">
        <input
          class="form-check-input"
          type="checkbox"
          id="orderWithDeliverySwitch"
          (change)="changeOrderWithDelivery($event)"
          [checked]="orderWithDelivery"
        />
        <label class="form-check-label" for="orderWithDeliverySwitch">
          الطلب مع التوصيل
        </label>
      </div>
    </div>

    <!--  -->
    <div class="card p-3 mb-3">
      <div class="row">
        <!-- Left Section -->
        <div>
          <!-- User Location -->
          <div *ngIf="orderWithDelivery" class="mb-2">
            <div>
              <button
                *ngIf="!userLocation"
                (click)="openModalReadUserLocations()"
                class="btn btn-primary btn-sm"
              >
                اختيار موقع التوصيل للعميل
              </button>
              <div
                *ngIf="userLocation"
                class="p-2 border rounded"
                style="display: flex; justify-content: space-between"
              >
                <small class="fw-bold">الشارع:</small>
                <small>{{ userLocation.street }}</small>
                <span class="mx-2">|</span>
                <small class="fw-bold">بالقرب من:</small>
                <small>{{ userLocation.nearTo }}</small>
                <span class="mx-2">|</span>
                <small class="fw-bold">السعر: </small>
                <small>{{ userLocation.price }}</small>
                <span class="mx-2">|</span>
                <div>
                  <div class="form-group"></div>
                  <label for="deliveryPrice" class="form-label-sm"
                    >سعر للعميل</label
                  >
                  <input
                    type="number"
                    id="deliveryPrice"
                    class="form-control form-control-sm d-inline-block w-auto"
                    placeholder="أدخل سعر التوصيل"
                    [(ngModel)]="deliveryPrice"
                  />
                </div>
                <div class="form-group">
                  <label for="deliveryActualPrice" class="form-label-sm"
                    >سعر للموصل</label
                  >
                  <input
                    type="number"
                    id="deliveryActualPrice"
                    class="form-control form-control-sm d-inline-block w-auto"
                    placeholder="أدخل سعر التوصيل"
                    [(ngModel)]="deliveryActualPrice"
                  />
                </div>
                <div>
                  <!-- Delivery Man Selection -->
                  <div>
                    <button
                      *ngIf="!deliveryMan"
                      (click)="openModalReadReservations()"
                      class="btn btn-primary btn-sm"
                    >
                      اختيار لموصل الطلب
                    </button>
                    <span class="fw-bold">الموصل:</span>
                    <span
                      *ngIf="deliveryMan"
                      (click)="openModalReadReservations()"
                      class="btn btn-outline-secondary btn-sm"
                    >
                      {{ deliveryMan.name }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Right Section -->
      </div>
    </div>

    <!--  -->
  </div>
  <div class="table-scrollable" style="max-height: 300px; overflow-y: auto">
    <table class="table table-hover" style="direction: rtl">
      <thead>
        <tr>
          <th scope="col" style="width: 10px">#</th>
          <th scope="col" style="width: 50px">الرقم</th>
          <th scope="col" style="width: 50px">المنتج</th>
          <th scope="col" style="width: 50px">الكمية</th>

          <th scope="col" style="width: 50px">السعر</th>
          <th scope="col" style="width: 50px">الاجمالي</th>

          <th scope="col" style="width: 50px">حذف</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-item [ngForOf]="products" let-c="index">
          <tr>
            <td>
              {{ c + 1 }}
            </td>
            <td>
              <input
                class="form-control"
                id="input{{ c }}"
                type="text"
                (keydown.enter)="foucsNext(c)"
                [(ngModel)]="products[c].productNo"
              />
            </td>

            <td>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="products[c].productName"
                disabled
              />
            </td>
            <td>
              <input
                class="form-control"
                id="quantity{{ c }}"
                (keydown.enter)="foucsNextQ(c)"
                [(ngModel)]="products[c].productQuantity"
                type="text"
                value="1"
              />
            </td>

            <td>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="products[c].productPrice"
                disabled
              />
            </td>
            <td *ngIf="products[c].productQuantity != ''">
              <input
                class="form-control"
                type="text"
                value="{{
                  products[c].productPrice * toInt(products[c].productQuantity)
                }}"
              />
            </td>
            <td *ngIf="products.length > 1 && products[c].productName != null">
              <button (click)="delete(c)" class="btn btn-danger">حذف</button>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>

  <div
    style="
      height: 80px;
      background-color: bisque;
      text-align: center;

      font-weight: bolder;
      position: absolute;
      bottom: 0px;
      right: 0px;
      left: 0px;
    "
  >
    <div
      style="
        font-size: xx-large;
        direction: rtl;
        display: flex;
        justify-content: space-between;
        padding: 3px;
      "
    >
      اجمالي المنتجات : {{ getSumAllProducts() }}

      <span> الاجمالي النهائي: {{ getFinalSum() }}</span>
    </div>
  </div>
</div>
