<div class="modal-header">
  <h4 class="modal-title" id="modal-title">معلومات الطلب</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <!--  -->

  <div>
    <span> العميل: </span>
    <span>
      {{ data.user.name }}
    </span>
  </div>
  <table class="table table-hover" style="direction: rtl">
    <thead>
      <tr>
        <th scope="col" style="width: 10px">#</th>
        <th scope="col" style="width: 50px">المنتج</th>
        <th scope="col" style="width: 50px">الكمية</th>
        <th scope="col" style="width: 50px">السعر</th>
        <th scope="col" style="width: 50px">الاجمالي</th>
      </tr>
    </thead>

    <tbody>
      <ng-template
        ngFor
        let-item
        [ngForOf]="data.inputOrderProjectsIdsWithQnt"
        let-c="index"
      >
        <tr>
          <td>
            {{ c + 1 }}
          </td>
          <td>
            {{ getProduct(item.id).name }}
          </td>
          <td>
            {{ item.qnt }}
          </td>
          <td>
            {{ getPrice(item.id) }}
          </td>
          <td>
            {{ item.qnt * getPrice(item.id) }}
          </td>
        </tr>
      </ng-template>
      <tr>
        <td colspan="4" style="text-align: right; background-color: lightgray">
          الاجمالي
        </td>
        <td>{{ getFinalPrice() }}</td>
      </tr>
      <tr *ngIf="data.price">
        <td colspan="4" style="text-align: right; background-color: rgb(186, 170, 170)">
          سعر التوصيل
        </td>
        <td>{{ data.price }}</td>
      </tr>
      <tr *ngIf="data.price">
        <td colspan="4" style="text-align: right; background-color: rgb(244, 171, 171)">
          المبلغ المتوجب دفعه
        </td>
        <td>{{ data.price + getFinalPrice() }}</td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-outline-primary" (click)="add()">تأكيد الطلب</button>
</div>
