<div class="modal-header">
  <h4 class="modal-title" id="modal-title">اضافة خصم</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body" style="direction: rtl;">
  <div class="row">
    <div class="col">
      <label>نوع الخصم:</label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="discountTypePercentage"
          name="discountType"
          value="0"
          [(ngModel)]="type"
        />
        <label class="form-check-label" for="discountTypePercentage">
          نسبة مئوية
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="discountTypeFixed"
          name="discountType"
          value="1"
          [(ngModel)]="type"
        />
        <label class="form-check-label" for="discountTypeFixed">
          قيمة ثابتة
        </label>
      </div>

      <input
        type="text"
        class="form-control"
        placeholder="الكمية"
        [(ngModel)]="amount"
      />
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-success"
    [disabled]="isDisabledSaveButton()"
    (click)="onSave()"
  >
    Save
  </button>
</div>
