<div class="modal-header">
  <span style="color: red">
    {{ stateController.errorInnerSearch }}
  </span>
  <div class="search" style="display: flex">
    <input
      style="direction: rtl"
      type="text"
      class="form-control"
      placeholder="Search Here .."
      [(ngModel)]="searchText"
      #inputField
    />
    <button
      type="submit"
      class="btn btn-primary"
      (click)="search()"
      *ngIf="stateController.isLoadingInnerSearch === false"
    >
      بحث
    </button>
    <button
      class="btn btn-primary"
      type="button"
      disabled
      *ngIf="stateController.isLoadingInnerSearch == true"
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
    </button>
  </div>
  <h4 class="modal-title" id="modal-title">بحث عن منتج</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  
  <ng-template
    *ngIf="result.length > 0"
    ngFor
    let-item
    [ngForOf]="result"
    let-c="index"
  >
    <div
      style="
        direction: rtl;
        display: flex;
        justify-content: space-between;
        margin: 10px;
        border: 1px solid;
        padding: 10px;
        border-radius: 10px;
      "
    >
      {{ item.name }}
      <span>
        {{ item.number }}
      </span>
      <span>
       ({{ item.postPrice }} ريال)
      </span>

      <button class="btn btn-primary" (click)="choose(item)">اختيار</button>
    </div>
  </ng-template>
</div>
