<div class="modal-header">
  <h4 class="modal-title" id="modal-title">اضافة موقع جديد</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
     
      <input
        type="text"
        class="form-control"
        placeholder="street"
        [(ngModel)]="street"
      />
      
      <textarea 
      class="form-control"
        placeholder="nearTo"
        [(ngModel)]="nearTo">
        
      </textarea>
     
      <input
        type="text"
        class="form-control"
        placeholder="contactPhone"
        [(ngModel)]="contactPhone"
      />
      <input
        type="text"
        class="form-control"
        placeholder="url"
        [(ngModel)]="url"
      />
      <input
        type="text"
        class="form-control"
        placeholder="latLong"
        [(ngModel)]="latLong"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      [disabled]="isDisabledSaveButton()"
      (click)="onSave()"
    >
      Save
    </button>
  </div>
</div>
