<!-- <button (click)="sendMessageToParent()">
  send to parent
</button>
<span>{{c}}</span> -->
<div
  [style.background-color]="
    data.situationId == '1'
      ? '#86f786'
      : data.situationId == '2'
      ? 'red'
      : 'white'
  "
  style="
    display: flex;
    justify-content: space-between;
    direction: rtl;
    padding: 20px;
  "
>
  <h6 class="modal-title" id="modal-title">
    <div style="text-align: center; direction: rtl">تفاصيل الطلب</div>
    <div># {{ data.id }}</div>
    <div>{{ getDate(data.createdAt) }}</div>
    <button
      *ngIf="data.situationId != '1' && data.situationId != '2'"
      class="btn btn-outline-danger"
      (click)="openModalCencelOreder()"
    >
      الغاء الطلب
    </button>
  </h6>

  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="closeModal()"
  ></button>
</div>
<hr />
<!-- order-details.component.html -->

<div class="order-details-container">
  <div class="labels-column">
    <p class="label">رقم الطلب</p>
    <p class="label">طريقة الدفع:</p>
    <p class="label">حالة الدفع:</p>
    <p class="label">عنوان التسليم</p>
  </div>

  <div class="values-column">
    <p class="value">{{ data.id }}</p>
    <p class="value">{{ getPaymentMethod() }}</p>
    <p class="value">{{ getPaymentStatus() }}</p>
    <p class="value">{{ getDeliveryMethod() }}</p>
  </div>
  <button class="btn btn-primary" (click)="openUpdatePaid()">
    دفع قيمة الطلب
  </button>
</div>

<hr />

<div class="modal-body">
  <div style="display: flex; justify-content: space-evenly">
    <div
      (click)="readUser()"
      style="
        border: 1px solid;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        height: 100px;
        align-items: center;
      "
    >
      <img
        style="width: 50px; height: 50px"
        src="https://cdn-icons-png.flaticon.com/512/10444/10444065.png"
        alt="Description"
      />
      <div>العميل</div>
    </div>
    <!--  -->
    <div
      (click)="readOrderDelivery()"
      style="
        border: 1px solid;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        height: 100px;
        align-items: center;
      "
    >
      <img
        style="width: 50px; height: 50px"
        src="https://cdn-icons-png.flaticon.com/512/10444/10444065.png"
        alt="Description"
      />
      <div>التوصيل</div>
    </div>
    <!--  -->
    <div
      (click)="readProducts()"
      style="
        border: 1px solid;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        height: 100px;
        align-items: center;
      "
    >
      <img
        style="width: 50px; height: 50px"
        src="https://cdn-icons-png.flaticon.com/512/10444/10444065.png"
        alt="Description"
      />
      <div>المنتجات</div>
    </div>
    <div
      *ngIf="data.situationId == '2'"
      (click)="readCenceledDescription()"
      style="
        border: 1px solid;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        height: 100px;
        align-items: center;
      "
    >
      <img
        style="width: 50px; height: 50px"
        src="https://cdn-icons-png.flaticon.com/512/10444/10444065.png"
        alt="Description"
      />
      <div>سبب الالغاء</div>
    </div>
  </div>

  <div *ngIf="cenceledDescription">
    <div
      style="
        display: flex;
        direction: rtl;
        justify-content: space-evenly;
        font-size: larger;
        border: 1px solid;
        border-radius: 10px;
        margin: 10px;
      "
    >
      <span> سبب الغاء الطلب </span>
      <span>
        {{ cenceledDescription.description }}
      </span>
    </div>
  </div>

  <!-- Component Template -->
  <div
    *ngIf="user"
    style="
      display: flex;
      direction: rtl;
      justify-content: space-evenly;
      font-size: larger;
      border: 1px solid;
      border-radius: 10px;
      margin: 10px;
    "
  >
    <span>
      {{ user.name }}
    </span>
    <span>
      {{ user.phone }}
    </span>
    <button (click)="openModalReadOrders()" class="btn btn-primary">
      عرض الطلبات السابقة
    </button>
  </div>
  <!-- Component Template -->
  <div *ngIf="isGetDataOrderDelivery" class="order-delivery-container">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5 class="mb-0">بيانات التوصيل</h5>
      </div>
      <div class="card-body">
        <ng-container *ngIf="orderDelivery; else noDelivery">
          <div class="mb-3">
            <button
              *ngIf="!deliveryMan"
              (click)="openChooseDeliveryManModal()"
              class="btn btn-primary"
            >
              تغيير الموصل
            </button>
            <ng-container *ngIf="deliveryMan">
              <div class="row align-items-center">
                <div class="text-center"></div>
                <div class="col-8" (click)="openChooseDeliveryManModal()">
                  <strong>اسم الموصل:</strong> {{ deliveryMan.name }}
                </div>
                <div class="col-4 text-end">
                  <button
                    class="btn btn-primary"
                    (click)="assignOrderToDeliveryMan()"
                  >
                    تغيير الان
                  </button>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="mb-3">
            <ng-container
              *ngIf="orderDelivery.deliveryManId; else selectDeliveryMan"
            >
              <!-- سعر التوصيل -->
              <div class="card mb-3">
                <div class="card-header bg-info text-white">سعر التوصيل</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">سعر التوصيل للموصل:</div>
                    <div class="col-6 text-end">
                      <span (click)="openModalUpdateActualPrice(orderDelivery)">
                        {{ orderDelivery.actualPrice }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- رقم الطلب في الفاتورة -->
              <div class="input-group mb-3" style="direction: ltr">
                <input
                  type="text"
                  class="form-control"
                  placeholder="رقم الطلب في الفاتورة"
                  [(ngModel)]="systemOrderNumber"
                />
                <button
                  class="btn btn-primary"
                  (click)="updateSystemOrderNumber()"
                >
                  حفظ
                </button>
              </div>

              <div class="mt-3" *ngIf="data.systemOrderNumber">
                <strong>رقم الطلب في الفاتورة:</strong>
                {{ data.systemOrderNumber }}
              </div>
            </ng-container>

            <ng-template #selectDeliveryMan>
              <div class="text-center">
                <button
                  (click)="openChooseDeliveryManModal()"
                  class="btn btn-primary"
                >
                  اختيار موصل
                </button>
              </div>
            </ng-template>
          </div>

          <!-- موصل الطلب -->
          <div class="mb-3">
            <div class="card">
              <div class="card-header bg-success text-white">موصل الطلب</div>
              <div class="card-body">
                <ng-container *ngIf="!orderDeliveryMan; else deliveryManInfo">
                  <button
                    (click)="readOrderDeliveryMan()"
                    class="btn btn-primary"
                  >
                    عرض الموصل
                  </button>
                </ng-container>
                <ng-template #deliveryManInfo>
                  <div class="delivery-man-info">
                    <strong>تفاصيل الموصل:</strong>
                    <p>{{ orderDeliveryMan.name }}</p>
                    <p>{{ orderDeliveryMan.phone }}</p>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>

          <!-- موقع التوصيل -->
          <div class="mb-3">
            <div class="card">
              <div
                class="card-header bg-warning text-dark d-flex justify-content-between align-items-center"
              >
                <span>موقع التوصيل</span>
                <button
                  (click)="openModalChooseLocation()"
                  class="btn btn-primary"
                >
                  تغيير موقع التوصيل
                </button>
              </div>
              <div class="card-body">
                <button
                  (click)="readDeliveryLocation()"
                  class="btn btn-primary mb-3"
                >
                  عرض موقع التوصيل
                </button>

                <ng-container *ngIf="deliveryLocation">
                  <div class="row">
                    <div class="col-6">
                      <strong>المدينة:</strong> {{ deliveryLocation.city }}
                    </div>
                    <div class="col-6">
                      <strong>الشارع:</strong> {{ deliveryLocation.street }}
                    </div>
                    <div class="col-6">
                      <strong>بالقرب من:</strong> {{ deliveryLocation.nearTo }}
                    </div>
                    <div class="col-6">
                      <strong>الرمز الجغرافي:</strong>
                      {{ deliveryLocation.latLong }}
                    </div>
                    <div class="col-6">
                      <strong>نوع العنوان: </strong>
                      {{ deliveryLocation.type }}
                    </div>
                    <div class="col-6">
                      <strong>تاريخ الاضافة: </strong>
                      {{ deliveryLocation.createdAt }}
                    </div>
                    <div class="col-12 text-center">
                      <a
                        [href]="
                          'https://www.google.com/maps?q=' +
                          deliveryLocation.latLong
                        "
                        target="_blank"
                        class="btn btn-link"
                      >
                        الموقع في خرائط جوجل
                      </a>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-template #noDelivery>
          <div class="alert alert-warning text-center">
            لا يوجد توصيل في هذا الطلب
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Component Template -->
  <!-- Component Template -->

  <!-- Component Styles (CSS or SCSS) -->

  <table class="custom-table" *ngIf="products">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">الصنف</th>
        <th scope="col">السعر</th>
        <th scope="col">الكمية</th>
        <th scope="col">الاجمالي</th>
        <th scope="col">التحكم</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="highlight" colspan="6">المنتجات</td>
      </tr>
      <tr>
        <td>
          <button (click)="openModelSearchProduct()" class="primary-button">
            اضافة
          </button>
          <button
            (click)="showNumbers()"
            class="primary-button"
            style="margin-right: 5px"
          >
            عرض الارقام
          </button>
        </td>
        <td>
          <div
            style="display: flex; align-items: center"
            *ngIf="searchedProduct"
          >
            <input
              type="number"
              placeholder="الكمية"
              [(ngModel)]="productQuantity"
              style="margin-right: 10px"
            />
            <span>{{ searchedProduct.name }}</span>
            <button
              (click)="addProductToOrder()"
              class="primary-button"
              style="margin-left: 10px"
            >
              اضافة الى الطلب
            </button>
          </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div *ngIf="stateController.selected.length > 0">
            <button (click)="openModalDeleteProducts()" class="danger-button">
              حذف
            </button>
          </div>
        </td>
      </tr>

      <tr *ngFor="let item of products.products; let c = index">
        <td>
          {{ c + 1 }} <span *ngIf="item.number">( {{ item.number }} )</span>
        </td>

        <td>{{ item.productName }}</td>
        <td>{{ item.productPrice }}</td>
        <td (click)="openModalUpdateProductQuantity(item)">
          {{ item.productQuantity }}
        </td>
        <td>
          {{
            productController.formatPrice(
              item.productPrice * item.productQuantity
            )
          }}
        </td>
        <td>
          <input
            type="checkbox"
            [checked]="stateController.selected.includes(item.id)"
            (change)="toggleProductSelection(item.id)"
          />
        </td>
      </tr>

      <tr>
        <td colspan="3"></td>
        <td>الاجمالي</td>
        <td>{{ getProductsFinalPrice() }}</td>
        <td></td>
      </tr>

      <tr>
        <td class="highlight" colspan="6">العروض</td>
      </tr>
      <tr>
        <td colspan="2">
          <button (click)="openModelSearchOffer()" class="primary-button">
            اضافة
          </button>
          <div style="display: flex; align-items: center" *ngIf="searchedOffer">
            <input
              type="number"
              placeholder="الكمية"
              [(ngModel)]="offerQuantity"
              style="margin-right: 10px"
            />
            <span>{{ searchedOffer.name }}</span>
            <button
              (click)="addOfferToOrder()"
              class="primary-button"
              style="margin-left: 10px"
            >
              اضافة الى الطلب
            </button>
          </div>
        </td>
        <td>
          <div *ngIf="offersStateController.selected.length > 0">
            <button (click)="openModalDeleteOffers()" class="danger-button">
              حذف
            </button>
          </div>
        </td>
        <td colspan="2"></td>
      </tr>

      <tr *ngFor="let item of products.offers; let c = index">
        <td>{{ c + 1 }}</td>
        <td>{{ item.offerName }}</td>
        <td>{{ item.offerPrice }}</td>
        <td (click)="openModalUpdateOfferQuantity(item)">
          {{ item.offerQuantity }}
        </td>
        <td>{{ item.offerPrice * item.offerQuantity }}</td>
        <td>
          <input
            type="checkbox"
            [checked]="offersStateController.selected.includes(item.id)"
            (change)="toggleOfferSelection(item.id)"
          />
        </td>
      </tr>

      <tr>
        <td colspan="3"></td>
        <td>الاجمالي</td>
        <td>{{ getOffersFinalPrice() }}</td>
        <td></td>
      </tr>

      <tr>
        <td class="highlight" colspan="6">التوصيل</td>
      </tr>
      <tr>
        <td colspan="2">
          <button
            (click)="openModelSearchProduct()"
            class="primary-button"
            *ngIf="!products.delivery"
          >
            اضافة
          </button>
        </td>
        <td colspan="4"></td>
      </tr>
      <tr *ngIf="products.delivery">
        <td>1</td>
        <td>توصيل الطلب</td>
        <td (click)="openModalUpdateDeliveryPrice()">
          {{ products.delivery.price }}
        </td>
        <td>1</td>
        <td>{{ products.delivery.price }}</td>
        <td></td>
      </tr>

      <tr>
        <td class="highlight" colspan="6">الخصم</td>
      </tr>
      <tr>
        <td colspan="2">
          <button
            (click)="openModalAddDiscount()"
            class="primary-button"
            *ngIf="!products.discount"
          >
            اضافة
          </button>
        </td>
        <td colspan="4"></td>
      </tr>
      <tr *ngIf="products.discount">
        <td>1</td>
        <td
          [ngClass]="{
            highlight: products.discount.type == '0',
            'highlight-button': products.discount.type == '1'
          }"
          (click)="openModalUpdateDiscountType(products.discount)"
        >
          {{ products.discount.type == "0" ? "خصم مئوي" : "خصم رئيسي" }}
          <span *ngIf="products.discount.couponId"> (كوبون) </span>
        </td>
        <td (click)="openModalUpdateDiscountAmount(products.discount)">
          {{ products.discount.amount }}
        </td>
        <td>1</td>
        <td>{{ products.discount.amount }}</td>
        <td>
          <button
            class="danger-button"
            (click)="openModalDeleteOrderDiscount(products.discount)"
          >
            حذف
          </button>
        </td>
      </tr>

      <tr>
        <td colspan="3"></td>
        <td class="highlight" colspan="2">الاجمالي</td>
        <td class="highlight">{{ getAllFinalPrice() }}</td>
      </tr>
    </tbody>
  </table>

  <!-- </ng-template> -->
  <!-- </ng-template> -->
</div>
